@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.bg-custom-gradient {
  background-color: hsla(0, 13%, 11%, 1);
  background-image: radial-gradient(
      at 100% 100%,
      hsla(0, 100%, 50%, 0.1) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(0, 100%, 50%, 0.1) 0px, transparent 50%),
    radial-gradient(at 79% 32%, hsla(0, 13%, 11%, 1) 0px, transparent 50%),
    radial-gradient(at 51% 81%, hsla(0, 13%, 11%, 1) 0px, transparent 50%);
}
